.nav_img {
height: 25px;
}

.splash_img{
    background-image: url("../imgs/splash1.png");
    background-repeat: no-repeat;
}


#owl-demo { width: 100%;  margin-left: auto; margin-right: auto;}
#owl-demo .item{ display: block;}
#owl-demo img { display: block; width: 100%;height:380px;}
#home_menu_container{
    position: absolute;
    width: 100%;
    height: 100%;
    top:120px;
    background-image: url("../imgs/home_bg.png");
}

.home_menu_img{
    width:90px;
    height:90px;
}

#home_menu_first{
    width:181px;
    height:181px;
}