<div class="navbar navbar-app navbar-absolute-top edu_title">
    <div class="navbar-brand navbar-brand-center" style="width:100%;text-align:center;" ui-turn-on="modal1">
        详情
    </div>
    <div style="position:absolute;width: 100%;height:100%;" >
        <table width="100%" height=100%>
            <tr>
                <td style="color:white;padding-left: 10px;" align="left" >
                    <img src="imgs/back.png" class="back_arrow" ng-click="back()"/>
                </td>
                <td align="right">
                    <div id="enrollContainer" style="border: 1px solid #ffffff;height: 30px;width: 85px;line-height: 30px;color: #ffffff;margin-right: 20px;text-align: center;" ng-click="enroll()"  >
                        我要报名
                    </div>

                </td>
            </tr>
        </table>
    </div>



</div>

<!--内容-->
<div style="position:absolute;top:60px;left:10px;right:10px;">
    <!--标题-->
    <div style="font-size:18px;" >{{abroad.title}}</div>
    <!--时间-->
    <div style="color:gray;" >{{abroad.createDate | date:'yyyy-MM-dd HH:mm:ss'}}</div>

</div>


<div class="scrollable" style="padding-top: 110px;">

    <div class="scrollable-content" style="padding-left: 10px;padding-right: 10px;" >
        <!--内容-->
        <article ng-bind-html="abroad.content | trustHtml"></article>
    </div>
</div>


<!--报名弹出窗口-->
<div  ui-yield-to="modals" style="top: 50px;"></div>
<div id="dialog_enroll_success" ui-content-for="modals"  >
    <div class="modal">
        <div class="modal-backdrop in"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <!--<div class="modal-header">-->
                    <!--<button class="close"-->
                            <!--ui-turn-off="modal1">&times;</button>-->
                    <!--<h4 class="modal-title">报名成功</h4>-->
                <!--</div>-->
                <div class="modal-body">
                    <p style="color: #239d0f;font-size: 18px;" class="text-center">报名成功</p>
                    <p>你的信息已经提交,我们将审核后给您发送通知,请耐心等待</p>

                </div>
                <div class="modal-footer">
                    <button  class="btn btn-default" ng-click="closeEnrollDialog()">  确定</button>
                </div>
            </div>
        </div>
    </div>
</div>