<div class="navbar navbar-app navbar-absolute-top edu_title">
    <div class="navbar-brand navbar-brand-center" style="width:100%;text-align:center;">
        主题活动
    </div>
    <div style="position:absolute;height:100%;" ng-click="back()">
        <table height=100%>
            <tr>
                <td style="color:white;padding-left: 20px;" >
                    <img src="imgs/back.png" class="back_arrow" />
                </td>
            </tr>
        </table>
    </div>
</div>

<div style="position: absolute;top: 0px;width: 100%;"><img src="imgs/logo_activity.jpg" width="100%" height="200px;"  /></div>

<div class="scrollable" style="position: absolute;padding-top: 200px;">

    <div class="scrollable-content">


        <div class="list-group">
            <a ng-repeat="activity in activitys" href="#/detail/{{ activity.id }}" class="list-group-item">
		
				<table height=100%>
                    <tr>
                        <td><img src="{{ activity.img }}" width="80px" height="80px"/>&nbsp;&nbsp;</td>
                        <td>
                            <table border=0 height=100%>
                                <tr>
                                    <!--标题-->
                                    <td>{{activity.title }}</td>
                                </tr>

                                <tr>
                                    <td height=5px></td>
                                </tr>

                                <tr>
                                    <td>{{activity.summary }}</td>
                                </tr>
                                <tr>
                                    <td height="100%" valign=bottom>{{activity.createDate | date:'yyyy-MM-dd
                                        HH:mm:ss'}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

            </a>
        </div>
    </div>


</div>

	