<div class="navbar navbar-app navbar-absolute-top edu_title">
    <div class="navbar-brand navbar-brand-center" style="width:100%;text-align:center;">
        生活便利
    </div>
    <div style="position:absolute;height:100%;" ng-click="back()">
        <table height=100%>
            <tr>
                <td style="color:white;padding-left: 20px;" align="left">
					<img src="imgs/back.png" class="back_arrow" />
                </td>
            </tr>
        </table>
    </div>
</div>


<div class="scrollable">

    <div class="scrollable-content">
        <div class="list-group">
            <a ng-repeat="convenience in conveniences" href="#/detail/{{ convenience.id }}" class="list-group-item">
		
		<span ng-switch on="{{$index}}">
			<span ng-switch-when=0>					
			<!-- 第一条 -->		
				<div style="position:relative;">
                    <img src="{{ convenience.img }}" width=100% height=200px/>

                    <div style="position:absolute; bottom:10px;text-align:center; width:100%;color:white;">
                        {{convenience.title }}
                    </div>
                </div>
			</span>
			<span ng-switch-default>							

				<table height=100%>
                    <tr>
                        <td><img src="{{ convenience.img }}" width="80px" height="80px"/>&nbsp;&nbsp;</td>
                        <td>
                            <table border=0 height=100%>
                                <tr>
                                    <!--标题-->
                                    <td>{{convenience.title }}</td>
                                </tr>

                                <tr>
                                    <td height=5px></td>
                                </tr>

                                <tr>
                                    <td>{{convenience.summary }}</td>
                                </tr>
                                <tr>
                                    <td height="100%" valign=bottom>{{convenience.createDate | date:'yyyy-MM-dd
                                        HH:mm:ss'}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
			</span>
		</span>

            </a>
        </div>
    </div>


</div>

	