<div class="navbar navbar-app navbar-absolute-top edu_title">
    <div class="navbar-brand navbar-brand-center" style="width:100%;text-align:center;">
        报告列表
    </div>
    <div style="position:absolute;height:100%;" ng-click="back()">
        <table height=100%>
            <tr>
                <td style="color:white;padding-left: 20px;" >
                    <img src="imgs/back.png" class="back_arrow" />
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="scrollable">

    <div class="scrollable-content">
        <div><img src="imgs/logo_report_list.jpg" width="100%"  /></div>

        <div class="list-group">
            <a ng-repeat="report in reports" href="#/detail/{{ report.id }}" class="list-group-item">
		
				<table height=100%>
                    <tr>
                        <td><img src="imgs/report_list_icon.png" width="80px" height="80px"/>&nbsp;&nbsp;</td>
                        <td>
                            <table border=0 height=100%>
                                <tr>
                                    <!--标题-->
                                    <td>{{report.title }}</td>
                                </tr>

                                <tr>
                                    <td height=5px></td>
                                </tr>

                                <tr>
                                    <td height="100%" valign=bottom>{{report.createDate | date:'yyyy-MM-dd
                                        HH:mm:ss'}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

            </a>
        </div>
    </div>


</div>

	