<div class="navbar navbar-app navbar-absolute-top">
		<div class="navbar-brand navbar-brand-center" style="width:100%;text-align:center;">
		  	{{country}}
		  </div>
		  <div style="position:absolute;height:100%;width:100%" ng-click="back()">
		  		<table height=100% width="100%" >
		  			<tr>
		  				<td style="color:white;">&nbsp;&nbsp;返回</td>
		  				<td width="50%" align="right" style="color:green;">小学&nbsp;&nbsp;</td>
		  			</tr>
		  		</table>
		  </div>
		  
</div>

<div class="scrollable" style="top:50px;" >

  <div class="scrollable-content" >
    <div class="list-group">
      <a ng-repeat="school in schools" href="#/detail/{{ school.id }}/{{ school.name }}" class="list-group-item" >
		
			<span>							
				<table height=100%>
					<tr>
						<td><img src="{{ school.img }}" width="80px" height="80px"/>&nbsp;&nbsp;</td>
						<td>
							<table border=0 height=100%>
								<tr>
									<!--学校名称-->
									<td>{{school.name }}</td>
								</tr>
								
								<tr>									
									<td height=5px></td>
								</tr>
								
								<tr>
									<td>{{school.summary }}</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</span>
       

      </a>
    </div>
  </div>


</div>

	