<div class="navbar navbar-app navbar-absolute-top edu_title" >
		<div class="navbar-brand navbar-brand-center" style="width:100%;text-align:center;"  >						
		  	留言咨询
		  </div>
		  <div style="position:absolute;height:100%;width:100%" >
		  		<table height=100% width="100%" >
		  			<tr>
		  				<td align="left" style="color:white;padding-left: 20px;" ng-click="back()">
							<img src="imgs/back.png" width="16px" height="20px" />
						</td>
		  				
		  				<td width="50%" align="right" style="color:green;">
							<div class="btn-group pull-right">
							  <a ng-click="postMsg()" class='btn' >
								  <div style="border: 1px solid #ffffff;height: 30px;width: 80px;line-height: 30px;color: #ffffff;">提交</div>
							  </a>							  
							</div>			  					
		  				</td>
		  			</tr>
		  		</table>
		  </div>
	</div>
	
	<div style="position:absolute;top:50px;left:10px;right:10px;">
		<!--标题-->		
		<div class="form-group has-success has-feedback">
          <label>标题:</label>
          <input type="text" ng-model="title" class="form-control ng-pristine ng-valid needsclick ng-valid-email ng-touched required" placeholder="请输入问题标题">
        </div>		        
        <!--内容-->		
		<div class="form-group has-success has-feedback">
          <label>内容:</label>
          <textarea  ng-model="content" rows="8" class="form-control ng-pristine ng-valid needsclick ng-valid-email ng-touched" placeholder="请输入问题内容" />
        </div>		
	</div>